<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add 
      name="NorthWind" 
      connectionString="Data Source=acer\sqlserver;Initial Catalog=Northwind;Persist Security Info=True;User Id=sa;Password=1" 
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>